body {
    margin: 0;
    font-size: 14px;
    color: #222;
    line-height: 2em;
    font-family: 'Courier New', Courier, monospace;
}
h1,
h2 {
    margin: 0;
    padding: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}